body {
    font-family: 'Montserrat Alternates', sans-serif;
}

#logo {
    display: flex;
    margin: auto;
}

#btnConnexion {

}

.container {
    background-color: aqua;
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    text-align: right;
}

nav li {
    margin-right: 1rem; /*pourcentage de taille en fonction du zoom 1 rem = 10px pour zoom = 100%*/
}

footer {
    position: fixed;
    bottom: 50px;
    left: 735px;
}