/* Général et logo */
body {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: whitesmoke;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9)),
    url("../img/fond.jpg"); */
}

#logo {
    display: flex;
    margin: auto;
}

/* Container des formulaires et boutons */
.container {
    text-align: center;
    background-color: yellowgreen;
    border-radius: 20px;
    padding: 50px 0 50px 0;
    width: 600px;
    margin: auto;
}

.bouton {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: darkblue;
    color: yellowgreen;
    border: 2px solid white;
}

.bouton:hover {
    color: red;
    background-color: blue;
}

.btn, .duree, .ajout {
    display: inline-block;
}

.btnContainer {
    text-align: center;
}

#btnAjoutLieu {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: darkblue;
    font-size: 2.5em;
    color: yellowgreen;
    border: 2px solid white;
}

#btnAjoutLieu:hover {
    color: red;
    background-color: blue;
}

#btnAnnuler {
    background-color: red;
}

.titreCreer, .titreModifier {
    text-align: center;
}

/* Menu de navigation */
#menu {
    background-color: white;
    padding: 5px 20px;
    border-radius: 20px 20px;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    font-size: 1.5em;
    margin-right: 2rem; /*pourcentage de taille en fonction du zoom 1 rem = 10px pour zoom = 100%*/
}

/* Liens de navigation */
a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    color: red;
}

/* Footer */
footer {
    color: darkblue;
    position: relative;
    margin-left: 50%;
    padding-top: 30px;
    bottom: 50px;
}

/* Modification du profil */
.profil {
    text-align: left;
}

.profil label {
    margin-left: 20%;
    margin-right: 10px;
}

.profil input {
    width: 250px;
    height: 20px;
}

.profil select {
    height: 30px;
    width: 250px;
}

/* Messages flash */
.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    color: #132135;
}

.flash-success {
    background-color: lawngreen
}

.flash-orange {
    background-color: coral;
}

.flash-error {
    background-color: red
}

/* Page d'accueil */
#infos {
    text-align: right;
    color: darkblue;
}

#liste {
    width: 100%;
    height: 400px;
    text-align: center;
    margin: auto;
    display: flow;
    overflow: auto;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: silver;
}

tr:nth-child(even) {
    background-color: yellowgreen;
}

#btnCreer {
    margin-top: 30px;
}

#filtre {
    column-count: 2;
    padding: 20px 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 20px 20px;
}

label, input, select {
    margin-top: 10px;
}

/* Page detail sortie */
.titre {
    background-color: yellowgreen;
    padding-left: 20px;
    border-radius: 20px 20px;
    width: 50%;
}

.sortie_gauche {
    display: inline-block;
    line-height: 160%;
    width: 30%;
    margin: 20px 20px 20px 20%;
}

.sortie_droite {
    position: absolute;
    display: inline-block;
    line-height: 160%;
    width: 30%;
    margin-top: 20px;
    margin-left: 40px;
}

.tab_list {
    display: flow;
    height: 200px;
    width: 440px;
    overflow: auto;
}

.tab_list_tr {
    height: 30px;
    width: 220px;
}

/* Page annuler sortie */
.annuler {
    margin-left: 40%;
    position: center;
}

/* Page detail profil */
.affiche_profil {
    margin-bottom: 30px;
}

/* Page d'erreur */
.erreur {
    background-color: yellowgreen;
    text-align: center;
    border-radius: 20px 20px;
}

#desole {
    width: 100%;
}