{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} | Mon Profil
{% endblock %}

{% block body %}
    <h2>Mon Profil</h2>
    {{ form_start(profilForm) }}
    {{ form_widget(profilForm) }}
    <button>Valider</button>
    {{ form_end() }}
{% endblock %}