<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block titre %}Sortir{% endblock %}</title>

    {# Import des fichiers CSS #}
    <link rel="stylesheet" href="{{ asset('css/myStyle.css') }}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">

    {# Changement du favicon et police à importer #}
</head>
    <header>
        {# en-tête à faire #}
    </header>

    {# menu de navigation à inclure #}

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        {# pied-de-page à faire #}
    </footer>
<body>

</body>
</html>